<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" /> 
    <title>Agregar estudiante</title>
</head>

<body>
    <h1>Agregar Estudiante</h1>
    <form action="/addStudent" method="POST"> 
        <p>NSS: <input type="text" id="nss" name="nss" /></p>
        <p>Nombre: <input type="text" id="nombre" name="nombre" /></p>
        <p>Edad: <input type="text" id="edad" name="edad" /></p>
        <p>Tipo de sangre: <input type="text" id="tipoSangre" name="tipoSangre" /></p>
        <p><input type="submit" value="Agregar"/></p> 
</body>

</html>